 .u-section-1 {
  background-image: url("/images/ColorfulModernCoffeeMilkPromotionBanner2.png");
  background-position: 50% 56.55%;
}

.u-section-1 .u-sheet-1 {
  min-height: 296px;
}

.u-section-1 .u-image-1 {
  width: 985px;
  height: 579px;
  margin: -90px auto 0 -84px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  border-style: solid;
  margin: -96px auto 60px 112px;
  padding: 17px 65px 17px 64px;
}

.u-section-1 .u-image-2 {
  width: 540px;
  height: 317px;
  margin: 187px auto 23px -150px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -60px;
    margin-left: -191px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -20px;
    margin-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 831px;
    height: 488px;
    margin-top: -53px;
    margin-left: -142px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -70px;
    margin-left: 44px;
    padding-right: 40px;
    padding-left: 38px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 11.37% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 317px;
    margin-top: -55px;
    margin-left: -34px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -35px;
    margin-left: 11px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 179px;
    margin-bottom: 31px;
    margin-left: -110px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 24.24% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 200px;
    margin-top: -431px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -65px;
    margin-left: 0;
    padding: 0 11px;
  }

  .u-section-1 .u-image-2 {
    margin-left: -150px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("/images/STREET.png");
  background-position: 50% 50%;
  min-height: 725px;
}

.u-section-2 .u-image-1 {
  height: 18px;
  margin: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1176px;
  margin: 29px auto 17px;
}

.u-section-2 .u-image-2 {
  min-height: 484px;
  background-image: url("/images/17.png");
  background-position: 50% 46.5%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  order: 0;
  min-height: 697px;
}

.u-section-2 .u-container-layout-2 {
  padding: 13px 14px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 40px 0 0 22px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px 22px 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  border-style: solid;
  margin: 60px auto 0;
  padding: 17px 55px 17px 53px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 564px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-image-2 {
    background-position: 100% 50%;
    min-height: 387px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    padding: 16px 24px 18px 23px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 360px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 24px;
    margin-bottom: 9px;
    margin-left: calc(((100% - 720px) / 2) + -11px);
  }

  .u-section-2 .u-image-2 {
    order: 1;
    min-height: 296px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 50px 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
    padding-top: 17px;
    padding-right: 62px;
    padding-left: 61px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1072px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 54px;
  }

  .u-section-2 .u-image-2 {
    min-height: 370px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 2px;
    margin-right: 95px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-left: 55px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1131px;
  }

  .u-section-2 .u-image-1 {
    height: 125px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 111px;
    margin-right: calc(((100% - 340px) / 2) + -30px);
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 161px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 697px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -100px;
    margin-right: 47px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
    margin-right: 47px;
    margin-left: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 37px;
    margin-left: 13px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1566px;
}

.u-section-3 .u-text-1 {
  width: 707px;
  margin: 2px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 24px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 1292px;
  grid-gap: 25px 25px;
}

.u-section-3 .u-image-1 {
  background-image: url("/images/1.png");
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-position: 0% 52.03%;
  background-size: 120%;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/3.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/4.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/6.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/10.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/8.png");
  background-position: 10.23% 7.54%;
  background-size: 120%;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/9.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/2.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-9 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/7.png");
  background-position: 50% 50%;
  background-size: 120%;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-10 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/19.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-10 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-11 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/15.png");
  background-position: 50% 50%;
  background-size: 120%;
}

.u-section-3 .u-container-layout-11 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-12 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/13.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-12 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-13 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/5.jpg");
  background-position: 50% 50%;
  background-size: 120%;
}

.u-section-3 .u-container-layout-13 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-14 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/12.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-14 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-15 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/14.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-15 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-image-16 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  background-image: url("/images/18.png");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-3 .u-container-layout-16 {
  padding: 20px 20px 30px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  font-weight: 700;
  border-style: solid;
  margin: 39px auto 2px;
  padding: 17px 55px 17px 53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 111px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1064px;
  }

  .u-section-3 .u-image-3 {
    background-size: 120%;
  }

  .u-section-3 .u-image-4 {
    background-size: 120%;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 47px;
    margin-bottom: 24px;
    margin-left: 310px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 59px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
    min-height: 3354px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 54px;
    margin-left: auto;
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3784px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 57px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-2 {
    background-position: 77.01% 49.92%;
    background-size: 120%;
  }

  .u-section-3 .u-image-3 {
    background-position: 50% 54.44%;
  }

  .u-section-3 .u-image-4 {
    background-position: 56.79% 73.69%;
  }

  .u-section-3 .u-image-5 {
    background-position: 57.63% 91.12%;
    background-size: 120%;
  }

  .u-section-3 .u-image-8 {
    background-position: 45.64% 45.87%;
    background-size: 120%;
  }

  .u-section-3 .u-image-9 {
    background-position: 66.63% 53.98%;
  }

  .u-section-3 .u-image-10 {
    background-size: 120%;
  }

  .u-section-3 .u-image-11 {
    background-position: 48.05% 61.76%;
  }

  .u-section-3 .u-image-14 {
    background-position: 55.05% 65.35%;
    background-size: 120%;
  }

  .u-section-3 .u-image-15 {
    background-position: 55.05% 65.35%;
    background-size: 120%;
  }

  .u-section-3 .u-image-16 {
    background-position: 55.05% 65.35%;
    background-size: 120%;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-3 {
    background-position: 60.38% 67.54%;
  }

  .u-section-3 .u-image-4 {
    background-position: 28.54% 30.59%;
  }

  .u-section-3 .u-image-5 {
    background-position: 50% 37.31%;
  }

  .u-section-3 .u-image-6 {
    background-position: 38.4% 32.3%;
  }

  .u-section-3 .u-image-9 {
    background-position: 48.37% 33.93%;
  }

  .u-section-3 .u-image-10 {
    background-position: 55.86% 37.82%;
  }

  .u-section-3 .u-image-11 {
    background-position: 41.58% 25.22%;
  }

  .u-section-3 .u-image-14 {
    background-position: 44.73% 49.19%;
  }

  .u-section-3 .u-image-15 {
    background-position: 44.73% 49.19%;
  }

  .u-section-3 .u-image-16 {
    background-position: 44.73% 49.19%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 648px;
}

.u-section-4 .u-group-1 {
  width: 1054px;
  min-height: 530px;
  height: auto;
  margin: 0 auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  margin: 29px 76px 0 640px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  font-size: 3rem;
  margin: -52px 634px 0 82px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 17px 602px 0 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -21px 76px 0 640px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -343px 644px 0 -12px;
}

.u-section-4 .u-map-1 {
  width: 544px;
  height: 273px;
  margin: 29px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 33px;
    margin-right: 30px;
    margin-left: 573px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -39px;
    margin-right: 508px;
    margin-left: 94px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 466px;
    margin-left: 52px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 13px;
    margin-left: 589px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 523px;
    margin-left: 52px;
  }

  .u-section-4 .u-map-1 {
    margin-top: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-4 .u-group-1 {
    min-height: 950px;
    margin-bottom: 42px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: 337px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 338px;
    margin-top: 442px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    width: 455px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: 338px;
    margin-top: -534px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    width: 427px;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-map-1 {
    margin-top: 44px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-4 .u-group-1 {
    min-height: 630px;
    margin-top: 40px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 181px;
    margin-right: -31px;
    margin-left: 234px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -194px;
    margin-right: 148px;
    margin-left: 114px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-top: 58px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 86px;
    margin-right: -19px;
    margin-left: 221px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    width: 323px;
    margin-top: -488px;
  }

  .u-section-4 .u-map-1 {
    width: 223px;
    height: 310px;
    margin-top: 109px;
    margin-left: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-4 .u-group-1 {
    min-height: 707px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.125rem;
    margin-top: 327px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.125rem;
    width: auto;
    margin-top: -330px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 360px;
    margin-right: 4px;
    margin-left: -4px;
  }

  .u-section-4 .u-text-4 {
    line-height: 1;
    margin-top: -371px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 81px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-map-1 {
    width: 298px;
    height: 180px;
    margin-top: 85px;
    margin-left: auto;
  }
}